<!DOCTYPE html>

<head>
<script type="module">
    import test from "/test.js"

    console.log(test);
</script>
</head>
<body>
    <h1>ERROR</h1>

    <ul>
        <li>안녕</li>
        <li>안녕</li>
        <li>안녕</li>
        <li>안녕</li>
    </ul>
</body>